{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy"
  ]
}
