@import url("https://fonts.googleapis.com/css?family=Quando");

$block-depth: 0.25em;
$block-radius: 0.3em;

@mixin block($color, $shadow-color) {
  background: $color;
  box-shadow: 0px 4px $shadow-color;
  border-radius: $block-radius;
  margin: 1em;
  padding: 1em;
}

* {
  font-family: "Quando";
}

body {
  background: color(light);
  color: color(dark, dark);
  //user-select: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Quando";
}

.profile {
  @include block(color(light, light), color(light, dark));
}

.content {
  @include block(color(light, light), color(light, dark));
  padding: 1em;
  text-align: center;
}

.profile-pic {
  border-radius: $block-radius;
  margin-bottom: 1em;
}

.bio {
  margin-top: 2em;
}

.tab-bar {
  @include block(color(light, light), color(light, dark));
  margin: 1em;
  position: relative;
}

.nav-bar {
  background: color(dark, mid);
  box-shadow: 0px 4px color(dark, dark);
  color: color(light, light);
  top: 0px;
  left: 0px;
  width: 100%;
}

a, a:hover {
  color: color(light, light);
}

#title a, #title a:hover, #title a:visited {
  color: color(light, light);
}

#title {
  color: color(light, light);
  margin: 11px 12px;
  font-size: 1.6em;
}

hr {
  border-color: color(light, dark);
  margin: 0.5em;
}

.footer {
  padding-bottom: 0.6em;
  font-size: 0.8em;
  text-align: center;
  //background: color(dark, mid);
  color: color(dark);
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.social-icon {
  padding: 0em 0.2em;
}

.language-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.nav-avatar {
  width: 32px;
  border-radius: $block-radius;
  //border: 1px solid color(dark, dark);
  margin-right: 0.4em;
}

.user-dropdown {
  position: absolute;
  background: color(dark);
  top: 60px;
  left: (100% / 12) * 9;
  z-index: 999;
  width: (100% / 12) * 2;
  //padding: 0.5em;
  border-radius: 0 0 $block-radius $block-radius;
  box-shadow: 0px $block-depth color(dark, dark);
}

.user-dropdown-selection {
  border-top: 1px solid color(dark, dark);
  padding: 0.5em;
}

a:hover .user-dropdown-selection {
  background: color(dark, dark);
}

.dropdown-button {
  cursor: pointer;
  border-radius: $block-radius;
  margin-left: 0.5em;
  padding: 4px 10px;
  background: color(dark);
  float: right;
}

.user-block {
  margin-top: 10px;
  padding: 4px;
  background: color(dark, dark);
  border-radius: $block-radius;
}

.sign-in-block {
  cursor: pointer;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
  background: color(dark, dark);
  border-radius: $block-radius;
}

.search-bar input[type=text] {
  margin: 0;
  margin-top: 10px;
}

.nav-tab a, .nav-tab a:hover, .nav-tab a:visited {
  color: color(light, light);
}

.nav-tab {
  user-select: none;
  color: color(light, light);
  width: 100%;
  padding: 17px;
  text-align: center;
  font-size: 1.1em;
}

.nav-tab.selected {
  background: color(dark, dark);
}

.search-icon {
  font-size: 24px;
  background: color(dark, dark);
  border-radius: $block-radius;
  padding: 8px;
  margin: 10px;
  margin-left: 1em;
  cursor: pointer;
}

.fa-times.search-icon {
  padding: 8px 10px;
}

.available-quest-title {
  margin-left: 1em;
  font-size: 32px;
}

.create-quest {
  position: absolute;
  margin: 1em;
  right: 1em;
  width: 10em;
}

.quest-label {
  margin: 1em;
  text-align: right;
}

.profile-level {
  text-align: center;
  font-weight: bold;
}

.zlink, .zlink:hover {
  color: #f60;
}
