.content-card {
  @include block(color(light, light), color(light, dark));
  position: relative;
  height: 15em;
}

.repo-name {
  color: color(blue);
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repo-description {
  color: color(mid);
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.programming-language {
  font-weight: bold;
  position: absolute;
  bottom: 0.8em;
}

.repo-value {
  color: color(dark);
  font-weight: bold;
  font-size: 1.1em;
  position: absolute;
  bottom: 0.8em;
  left: 1em;
}

.linked {
  background: color(red);
  box-shadow: 0px 4px color(red, dark);
}

.unlinked {
  background: color(green);
  box-shadow: 0px 4px color(green, dark);
}

.link-button {
  width: 5em;
  margin: 0;
  padding: 0.4em;
  position: absolute;
  bottom: 16px;
  right: 0.8em;
}

.link-button:active {
  bottom: 12px;
}

.abandon-button {
  background: color(red);
  box-shadow: 0px 4px color(red, dark);
  width: 7em;
  margin: 0;
  padding: 0.4em;
  position: absolute;
  bottom: 16px;
  right: 0.8em;
}

.abandon-button:active {
  bottom: 12px;
}

.accept-button {
  background: color(green);
  box-shadow: 0px 4px color(green, dark);
  width: 7em;
  margin: 0;
  padding: 0.8em;
  position: absolute;
  bottom: 16px;
  right: 0.8em;
}

.accept-button:active {
  bottom: 12px;
}
